/*
======================
Reset
======================
*/
:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
    --blue: rgb(56, 10, 223);
}

#header {
    margin: 0;
    padding: 0;
    /* box-sizing: inherit; */
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#header input {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
}

#header a {
    text-decoration: none;
}

#header ul {
    list-style: none;
}

#header img {
    max-width: 100%;
}

#header h3,
#header h4 {
    font-weight: 500;
}

/*
  ======================
  Header
  ======================
  */

.header {
    position: relative;

}

#header .container {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;

}


/*
  ======================
  Navigation
  ======================
  */

.navigation {
    position: relative;
    height: 7rem;
    background: rgb(56, 10, 223);
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    height: 7rem;
    padding: 0 1rem;
}

.fix__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1200;
    background: #BE1E2D;
    color: white;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(0%);
}

.nav__logo a {
    font-size: 2.5rem;
    color: var(--white);
    padding: 1.6rem;
    font-weight: 700;
}

.nav__hamburger {
    display: none;
    cursor: pointer;
}

.nav__hamburger svg {
    height: 2.3rem;
    width: 2.3rem;
}

.menu__top {
    display: none;
}

.nav__menu {
    width: 65%;
}

.nav__list {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;

}

.nav__item:not(:last-child) {
    margin-right: 1.6rem;
}

.nav__list .nav__link:link,
.nav__list .nav__link:visited {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--white);
    transition: color 0.3s ease-in-out;
}

.scroll-linkDANHMUC {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black);
    transition: color 0.3s ease-in-out;
}

.scroll-linkDANHMUC:hover {
    color: #BE1E2D;
}

.scroll-link,
.nav__link_giohang {
    color: var(--white);
}

.nav__list .nav__link:hover {
    color: var(--orange);
}

.nav__icons {
    display: flex;
    position: relative;
}

.nav__icons .icon__item svg {
    width: 1.6rem;
    height: 1.6rem;
}

.nav__icons .icon__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border: 1px solid var(--white);
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.nav__icons .icon__item:link,
.nav__icons .icon__item:visited {
    color: var(--white);
}

.nav__icons .icon__item:hover {
    background-color: var(--orange);
    border: 1px solid var(--black);
}

.nav__icons .icon__item:not(:last-child) {
    margin-right: 1rem;
}

.nav__icons #cart__total {
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: 75px;
    background-color: var(--orange);
    padding: 0.2rem 0.4rem;
    border-radius: 100%;
    color: var(--primaryColor);
}

.page__title-area {
    background-color: var(--primaryColor);
}

.page__title-container {
    padding: 1rem;
}

.page__titles {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--grey2);
}

.page__titles a {
    margin-right: 2rem;
}

.page__titles a svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--grey2);
}

.page__title {
    position: relative;
}

.page__title::before {
    position: absolute;
    content: "/";
    top: 0;
    left: -1rem;
}







/*
  ======================
  Testimonial Media Query
  ======================
  */
@media only screen and (max-width: 1200px) {
    .testimonial__box {
        height: 100%;
    }

    .testimonial__box p {
        width: 90%;
        margin: 0 auto;
        line-height: 2.2rem;
        margin-bottom: 3rem;
    }

    .client__image {
        margin-bottom: 2.5rem;
    }
}

@media only screen and (max-width: 568px) {
    .testimonial {
        height: 100%;
        padding: 4rem 0 5rem;
        z-index: 1;
        text-align: center;
    }

    .testimonial__box {
        height: 100%;
    }

    .testimonial__box p {
        width: 100%;
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    .client__image {
        margin-bottom: 1.5rem;
    }

    .testimonial__box span {
        margin-bottom: 1rem;
    }

    .testimonial .glide__bullets {
        bottom: -8%;
    }
}

/*
  ======================
  News Section
  ======================
  */

.news {
    padding-bottom: 8rem;
}

.new__card {
    background-color: var(--primaryColor);
    width: 95%;
    margin: 0 auto;
}

.new__card:not(:last-child) {
    margin-right: 1rem;
}

.card__footer {
    padding: 3rem 1.4rem;
}

.card__footer h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 1rem;
}

.card__footer span {
    display: inline-block;
    margin-bottom: 1rem;
    color: var(--black2);
}

.card__footer p {
    font-size: 1.5rem;
    color: var(--black2);
    margin-bottom: 1.6rem;
    line-height: 2.7rem;
}

.card__footer a button,
.card__footer a button {
    display: inline-block;
    padding: 1.4rem 4rem;
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
    transition: 0.3s;
}

.card__footer a button:focus {
    outline: none;
}

.card__footer a button:hover {
    border: 1px solid var(--black);
    color: var(--white);
    background-color: var(--black);
}

/*
  ======================
  NewsLetter
  ======================
  */

.newsletter {
    padding: 6rem 0;
    border-top: 1px solid var(--primaryColor);
}

.newsletter__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter__data h3 {
    font-size: 2.4rem;
    font-weight: inherit;
    margin-bottom: 1rem;
}

.newsletter__data p {
    font-size: 1.5rem;
    color: var(--black2);
}

.newsletter__email {
    font-size: 1.4rem;
    display: inline-block;
    width: 37rem;
    padding: 1.6rem;
    background-color: var(--primaryColor);
    border: none;
    text-indent: 1rem;
}

.newsletter__email:focus {
    outline: none;
}

.newsletter__link:link,
.newsletter__link:visited {
    display: inline-block;
    padding: 1.4rem 3rem;
    margin-left: -0.5rem;
    background-color: var(--black);
    color: var(--white);
    transition: 0.3s;
}

.newsletter__link:hover {
    background-color: #000;
}

/*
  ======================
  Newsletter Media Query
  ======================
  */

/*
  ======================
  Footer
  ======================
  */

.footer {
    background-color: var(--black3);
    padding: 6rem 1rem;
    line-height: 3rem;
}

.footer-top__box span svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--grey3);
}

.footer-top__box span {
    margin-right: 1rem;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--grey3);
}

.footer-top__box a:link,
.footer-top__box a:visited {
    display: block;
    color: var(--grey);
    font-size: 1.4rem;
    transition: 0.6s;
}

.footer-top__box a:hover {
    color: var(--orange);
}

.footer-top__box div {
    color: var(--grey);
    font-size: 1.4rem;
}

.footer-top__box h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
    .footer__top {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer__top {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}




/*
  ======================
  Cart Area Media Query
  ======================
  */

@media only screen and (max-width: 1200px) {

    .minus-btn,
    .plus-btn {
        padding: 0.6rem 0.8rem;
        margin-right: 0;
    }

    .counter-btn {
        width: 4rem;
        padding: 1rem 0;
    }

    .input-counter svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    /* css header mới */
}

.nav__item_seach {
    display: flex;
    width: 37%;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 50px;
    margin: 40px;
    background: white;
}

.input_seach {
    width: 97%;
    padding-left: 10px;
    outline: none;
}

#input_seach {
    border-radius: 50px;
    border: 1px none var(--black);
}

#icon__item_seach {
    border: 1px none var(--black);
}

.nav__item_hotro {
    text-align: center;
}

#nav__icons_user {
    display: flex;
}

#nav__item_user,
#nav__item_giohang {
    font-size: 1.2rem;
}

#nav__item_giohang {
    width: 120px;
    ext-align: center;
}

#nav__item_user {
    width: 160px;
    ext-align: center;
}

.nav__link_giohang {
    margin-top: 10px;
}

#nav__list_DANHMUC {
    margin: auto;
    font-weight: 400;
}

header>li {
    color: white;
}

.icon__item {
    background: white;
}




.nav__icons_danhmuc {
    position: relative;
}

.nav__icons_danhmuc .icon__item svg {
    width: 1.6rem;
    height: 1.6rem;
}

.nav__icons_danhmuc .icon__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border: 1px solid var(--white);
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.nav__icons_danhmuc .icon__item:link,
.nav__icons_danhmuc .icon__item:visited {
    color: var(--white);
}

/* .nav__icons_danhmuc .icon__item:hover {
    background-color: var(--orange);
    border: 1px solid var(--black);
  } */

.nav__icons_danhmuc .icon__item:not(:last-child) {
    margin-right: 1rem;
}

.nav__icons_danhmuc #cart__total {
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: 75px;
    background-color: var(--orange);
    padding: 0.2rem 0.4rem;
    border-radius: 100%;
    color: var(--primaryColor);
}

.nav__icons_danhmuc {
    margin: 10px;
}

.category__products {
    background: white;
    padding: 10px;
    border-radius: 20px;
}

.icon__itemdanhmuc {
    height: 20px;
}

.navigation_danhmuc {
    padding-bottom: 15px;
}